.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 20vmin);
  color: orange;
}

.App-header.sleeping {
  color: #033062;
  background-color: black;
}

.App-header > svg {
  font-size: calc(10px + 40vmin); 
}

.App-header.sleeping > svg {
  color: #033062;
}

.clock {
  color: orange;
}

.clock.sleeping {
  color: #033062;
}